[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
canopen = "*"
PyYAML = "*"
"ruamel.yaml" = "*"
click = "*"

[dev-packages]
pylint = "*"

[requires]
python_version = "3.8"

[packages.pytablewriter]
extras = [ "excel",]
